<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">Stock Market Track</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/quote">Quote</a>
        <a class="nav-item nav-link" href="/portfolio">My Portfolio</a>
        <a class="nav-item nav-link" href="/buy">Buy</a>
      </div>
    </div>
  </div>
    <% if (user) { %>
    <h5>Logged In As: <%= user.username %>!</h5>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
    <% } else { %>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/login">Login form</a>
    </div>
    <% } %>
  </nav>
</header>