<!DOCTYPE html>
<html lang="en">
<header>
  <%- include('partials/_header') %>
</header>

<head>
  <title>Lokoko</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/moment.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


</head>

<body>
  <h2>Welcome to Stock Market Tracker!</h2>
</body>
</html>
