<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" />
  <title>Stock Market Track</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h2>My portfolio</h2>
  <% if (user) { %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope="col">Current Price</th>
      </tr>
    </thead>
    <tbody>
      <% for(let item of arr) { %>
        <tr>
          <td><%= item.symbol %></td>
          <td>Lookup company name</td>
          <td><%= item.shares %></td>
          <td>Lookup latest price</td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>
</body>
</html>