<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" />
  <title>Stock Market Track: Sell</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main class="container p-5">    
    <form action="/sell" method="POST">
      <div class="form-group">
        <input autocomplete="off" autofocus="" class="form-control" name="symbol" placeholder="Symbol" type="text">
      </div>
      <div class="form-group">
        <input autocomplete="off" class="form-control" min="1" name="shares" placeholder="Shares" type="number">
      </div>
      <button class="btn btn-primary" type="submit">Sell</button>
    </form>
  </main>
</body>
</html>